.invs td {
    padding-left: 3%;
    background-color:#F8F8FF;
    text-align: left;
}
.inv th {
    padding-left: 3%;
    text-align: left;
}
.inv {
    background-color: #20B2AA;
    color: white;
}
